.fastlinkCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fastlinkCard a{
    border-radius: 10px;
    width: 70px;
    /*height: 70px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.fastlinkCard img{
    max-width: 100%;
}