header{
    padding: 0 15px;
}

#content{
    position:absolute;
    top:0;
    left:0;
    width: calc(100% - var(--sidebar-width-closed));
    display: flex;
    flex-direction: column;
}

#cardContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    gap: 20px;
    perspective: 1000px;
}

/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes out 
of the box on hover (remove perspective if you don't want the 3D effect */
.mLCard{
    background-color: gray;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 0px 12px 2px #000000;
    text-align: center;
    -webkit-transition: transform 0.8s, box-shadow 0.8s, z-index 0.8s;
    transition: transform 0.8s, box-shadow 0.8s, z-index 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 0;
    /*-webkit-backface-visibility: hidden; /* Safari */
    /*backface-visibility: hidden;*/
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.mLCard:hover{
    transform: rotateY(180deg);
    z-index: 999;
    box-shadow: none;
}*/

.mLCardFlipped{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: none;
    z-index: 1;
}

/* Position the front and back side */
.mLCardBack{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the back side */
.mLCardBack {
    background-color: dodgerblue;
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 2px #000000;
    z-index: 1;
}

.mLCardFlipperFront{
    font-size: 1.5em;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
}

.mLCardFlipperBack{
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
}